extends layouts/main
include mixins/videoBlock

block content
    .videos
        h1 Video 
        each item in videos
            +videoBlock({
                id:item.id,
                title:item.title,
                description:item.description,
                views:item.views,
                videoFile:item.fileUrl
                
            })
    //- if(user){
    //-     h2 welcome ${vedio.id}
    //- }
          
        